{
    "parser": "@typescript-eslint/parser",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "no-console": 0,
        "no-empty": [
            1,
            {
                "allowEmptyCatch": true
            }
        ]
    },
    "extends": [
        "eslint:recommended",
        "prettier",
        "prettier/react",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": ["react", "jsx-a11y", "import", "@typescript-eslint"],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": { "jsx": true }
    },
    "settings": {
        "react": {
            "createClass": "createReactClass", // Regex for Component Factory to use,
            // default to "createReactClass"
            "pragma": "React", // Pragma to use, default to "React"
            "version": "16.0", // React version. "detect" automatically picks the version you have installed.
            // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
            // default to latest and warns if missing
            // It will default to "detect" in the future
            "flowVersion": "0.53" // Flow version
        }
    }
}
