.context {
		grid-area: context;
	}

	.options {
		grid-area: options;
	}

	.portfolio {
		grid-area: portfolio;
	}
	.datepicker {
		grid-area: datepicker;
	}	.settings {
		grid-area: settings;
	}

	.wrapper {
		display: grid;
    	grid-gap: 10px;
		grid-template-columns: 8%  12% 20% 10% 15% 24% 10%;
		grid-template-areas:
               "context options portfolio .... datepicker ...... settings";
		background-color: #fff;
		color: #444;
	}

.header {
  background-color: #999;
}