@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600&display=swap');
.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes move
{
    from {
        left: 2%;
    }
    to {
        left: 40%;
    }
}
@keyframes move
{
    from {
        left: 2%;
    }
    to {
        left: 40%;
    }
}

.moveacross {
    left: 40%;
    position: absolute;
    -webkit-animation: move 5s;
    animation: move 5s;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out; 
    -o-transition: all 1s ease-in-out; 
    -ms-transition: all 1s ease-in-out; 
    transition-duration: 1s;
}

.lookbelow{
    border-style: solid;
    border-color:white;
    width: 45%;
    text-align: center;
    height: 41px;
    margin: auto;
    line-height: 41px;
    font-family: 'Baloo Thambi 2', cursive;
}
.lookbelow:hover{
    background-color: #1890ff;
    border-color:#1890ff;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

#rotator i{
    padding: 10px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out; 
    -o-transition: all 1s ease-in-out; 
    -ms-transition: all 1s ease-in-out; 
    border-radius:60px;
    transition-duration: 0.5s;
    }
#rotator:hover i {
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); 
    transform: translate()
    }

.rotatingdropdown{
    transition: 1s all;
}
.rotatingdropdown:hover{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: 1s all;
}
.bob {
    height: 1000px;
    background-color: white;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 36px;
}
.menu-center {
    background-image: url('rocket.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 50px;
    margin-top: 5px;
    margin-bottom: -5px;
}

.whatsthescore {
    background-image: url('wht.PNG');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 20px;
    color: black;
    background-color: #001628;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    moz-box-shadow: 10px 10px 5px #888;
    webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}
.whatstheplan {
    background-image: url('plan.PNG');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 20px;
    color: black;
    background-color: #001628;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    moz-box-shadow: 10px 10px 5px #888;
    webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}
.hundred {
    width: 100%;
    height: 100%;
}
/* Spinner */
@keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-webkit-keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
.lds-double-ring {
    position: relative;
}
.lds-double-ring div {
    box-sizing: border-box;
}
.lds-double-ring > div {
    position: absolute;
    width: 168px;
    height: 168px;
    top: 16px;
    left: 16px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #515151 transparent #515151 transparent;
    -webkit-animation: lds-double-ring 3.1s linear infinite;
    animation: lds-double-ring 3.1s linear infinite;
}
.lds-double-ring > div:nth-child(2),
.lds-double-ring > div:nth-child(4) {
    width: 148px;
    height: 148px;
    top: 26px;
    left: 26px;
    -webkit-animation: lds-double-ring_reverse 3.1s linear infinite;
    animation: lds-double-ring_reverse 3.1s linear infinite;
}
.lds-double-ring > div:nth-child(2) {
    border-color: transparent #85a2b6 transparent #85a2b6;
}
.lds-double-ring > div:nth-child(3) {
    border-color: transparent;
}
.lds-double-ring > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.lds-double-ring > div:nth-child(3) div:before,
.lds-double-ring > div:nth-child(3) div:after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 72px;
    background: #515151;
    border-radius: 50%;
    box-shadow: 0 160px 0 0 #515151;
}
.lds-double-ring > div:nth-child(3) div:after {
    left: -8px;
    top: 72px;
    box-shadow: 160px 0 0 0 #515151;
}
.lds-double-ring > div:nth-child(4) {
    border-color: transparent;
}
.lds-double-ring > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.lds-double-ring > div:nth-child(4) div:before,
.lds-double-ring > div:nth-child(4) div:after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 62px;
    background: #85a2b6;
    border-radius: 50%;
    box-shadow: 0 140px 0 0 #85a2b6;
}
.lds-double-ring > div:nth-child(4) div:after {
    left: -8px;
    top: 62px;
    box-shadow: 140px 0 0 0 #85a2b6;
}
.lds-double-ring {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1)
        translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/*
@import compass

@function multiple-box-shadow ($n) 
  $value: '#{random(2000)}px #{random(20000)}px #FFF'
  @for $i from 2 through $n
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'

  @return unquote($value)

$shadows-small:  multiple-box-shadow(700)
$shadows-medium: multiple-box-shadow(200)
$shadows-big:    multiple-box-shadow(100)

html
  height: 100%
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%)
  overflow: hidden
    
#stars
  width: 1px
  height: 1px
  background: transparent
  box-shadow: $shadows-small
  animation			: animStar 50s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 1px
    height: 1px
    background: transparent
    box-shadow: $shadows-small
    
#stars2
  width: 2px
  height: 2px
  background: transparent
  box-shadow: $shadows-medium
  animation			: animStar 100s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 2px
    height: 2px
    background: transparent
    box-shadow: $shadows-medium
    
#stars3
  width: 3px
  height: 3px
  background: transparent
  box-shadow: $shadows-big
  animation			: animStar 150s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 3px
    height: 3px
    background: transparent
    box-shadow: $shadows-big
    
@keyframes animStar
  from	
    transform: translateY(0px)
  to		
    transform: translateY(-2000px)
    */
    .fre{
        height: 100%;
        background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
        overflow: hidden;
        min-height: 500px;
        cursor: url('rocketCursor.png'), auto;
        font-family: 'Baloo Thambi 2', cursive;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     

    }
  
  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 783px 8848px #FFF , 983px 655px #FFF , 1772px 455px #FFF , 218px 1566px #FFF , 1325px 484px #FFF , 1251px 1845px #FFF , 581px 284px #FFF , 837px 1184px #FFF , 387px 224px #FFF , 1384px 1958px #FFF , 446px 286px #FFF , 1909px 109px #FFF , 157px 413px #FFF , 1151px 1744px #FFF , 367px 1601px #FFF , 1060px 1721px #FFF , 762px 1944px #FFF , 486px 1012px #FFF , 715px 1692px #FFF , 738px 1797px #FFF , 397px 237px #FFF , 1384px 1477px #FFF , 865px 305px #FFF , 802px 1385px #FFF , 9px 35px #FFF , 891px 1940px #FFF , 867px 617px #FFF , 324px 1214px #FFF , 1967px 1212px #FFF , 543px 23px #FFF , 790px 1387px #FFF , 98px 335px #FFF , 854px 1215px #FFF , 133px 854px #FFF , 793px 1534px #FFF , 1802px 1076px #FFF , 206px 313px #FFF , 240px 1768px #FFF , 1102px 1618px #FFF , 1521px 1766px #FFF , 1162px 710px #FFF , 1406px 1698px #FFF , 845px 309px #FFF , 1366px 1056px #FFF , 146px 1834px #FFF , 447px 10px #FFF , 748px 682px #FFF , 442px 267px #FFF , 1282px 1133px #FFF , 1096px 1700px #FFF , 1119px 405px #FFF , 1448px 1466px #FFF , 1822px 671px #FFF , 1201px 1925px #FFF , 236px 428px #FFF , 186px 1540px #FFF , 1645px 1901px #FFF , 1151px 690px #FFF , 829px 290px #FFF , 438px 1221px #FFF , 397px 963px #FFF , 1373px 1194px #FFF , 46px 1992px #FFF , 460px 1448px #FFF , 1039px 1464px #FFF , 442px 226px #FFF , 1214px 916px #FFF , 1006px 63px #FFF , 1434px 737px #FFF , 1220px 1494px #FFF , 508px 1865px #FFF , 306px 1770px #FFF , 1585px 197px #FFF , 594px 1640px #FFF , 1073px 574px #FFF , 1307px 1328px #FFF , 162px 1886px #FFF , 1176px 777px #FFF , 1514px 1712px #FFF , 1672px 1035px #FFF , 442px 860px #FFF , 261px 1324px #FFF , 1833px 355px #FFF , 745px 3px #FFF , 204px 920px #FFF , 1462px 514px #FFF , 1912px 916px #FFF , 639px 1591px #FFF , 1103px 1148px #FFF , 1953px 728px #FFF , 1478px 1637px #FFF , 52px 1369px #FFF , 1421px 21px #FFF , 1700px 1880px #FFF , 800px 1253px #FFF , 277px 243px #FFF , 1177px 448px #FFF , 932px 811px #FFF , 927px 77px #FFF , 151px 153px #FFF , 970px 1903px #FFF , 560px 454px #FFF , 1463px 260px #FFF , 351px 1711px #FFF , 1896px 20px #FFF , 1655px 1178px #FFF , 306px 329px #FFF , 1512px 650px #FFF , 1129px 1164px #FFF , 977px 389px #FFF , 847px 1453px #FFF , 33px 636px #FFF , 1665px 253px #FFF , 216px 530px #FFF , 293px 1887px #FFF , 451px 442px #FFF , 405px 381px #FFF , 530px 131px #FFF , 670px 672px #FFF , 1847px 1767px #FFF , 1285px 1351px #FFF , 83px 1081px #FFF , 1808px 477px #FFF , 473px 1237px #FFF , 1769px 1315px #FFF , 168px 758px #FFF , 721px 1486px #FFF , 334px 192px #FFF , 1873px 826px #FFF , 1761px 1192px #FFF , 440px 944px #FFF , 1886px 1424px #FFF , 1649px 1426px #FFF , 1753px 1996px #FFF , 1159px 830px #FFF , 1341px 1026px #FFF , 1441px 1162px #FFF , 566px 1378px #FFF , 919px 1715px #FFF , 1201px 1733px #FFF , 503px 658px #FFF , 799px 1736px #FFF , 1101px 813px #FFF , 1707px 44px #FFF , 1753px 874px #FFF , 1189px 1521px #FFF , 1496px 170px #FFF , 321px 1677px #FFF , 898px 1657px #FFF , 1075px 812px #FFF , 1106px 608px #FFF , 1971px 827px #FFF , 1202px 1210px #FFF , 1333px 1616px #FFF , 960px 766px #FFF , 1110px 1369px #FFF , 1854px 1453px #FFF , 1582px 1432px #FFF , 1596px 1959px #FFF , 1632px 512px #FFF , 1471px 103px #FFF , 1797px 904px #FFF , 318px 1234px #FFF , 210px 1911px #FFF , 1228px 318px #FFF , 11px 1769px #FFF , 428px 1293px #FFF , 1408px 119px #FFF , 38px 104px #FFF , 903px 1374px #FFF , 589px 1328px #FFF , 1642px 1849px #FFF , 89px 1245px #FFF , 571px 1818px #FFF , 1254px 421px #FFF , 1018px 129px #FFF , 742px 1429px #FFF , 91px 294px #FFF , 1332px 1090px #FFF , 798px 865px #FFF , 850px 21px #FFF , 1627px 944px #FFF , 1039px 725px #FFF , 285px 1209px #FFF , 658px 384px #FFF , 680px 981px #FFF , 328px 1044px #FFF , 295px 53px #FFF , 922px 427px #FFF , 1405px 1266px #FFF , 523px 43px #FFF , 1723px 632px #FFF , 911px 1479px #FFF , 1851px 285px #FFF , 633px 1488px #FFF , 1850px 465px #FFF , 83px 998px #FFF , 726px 1849px #FFF , 360px 431px #FFF , 608px 1101px #FFF , 1003px 1138px #FFF , 1234px 779px #FFF , 503px 833px #FFF , 1450px 1073px #FFF , 59px 483px #FFF , 1341px 975px #FFF , 295px 5px #FFF , 1422px 1664px #FFF , 859px 1873px #FFF , 538px 1596px #FFF , 85px 693px #FFF , 1166px 208px #FFF , 1092px 1790px #FFF , 437px 1071px #FFF , 1955px 1736px #FFF , 380px 1429px #FFF , 1467px 150px #FFF , 695px 1626px #FFF , 1324px 1126px #FFF , 992px 1640px #FFF , 391px 1156px #FFF , 392px 1993px #FFF , 210px 132px #FFF , 324px 1527px #FFF , 1370px 1965px #FFF , 909px 1277px #FFF , 257px 57px #FFF , 446px 1612px #FFF , 1707px 1939px #FFF , 1377px 1380px #FFF , 264px 502px #FFF , 861px 309px #FFF , 1084px 316px #FFF , 92px 1660px #FFF , 1620px 1031px #FFF , 1061px 1894px #FFF , 487px 1303px #FFF , 100px 456px #FFF , 169px 802px #FFF , 290px 1px #FFF , 1345px 1319px #FFF , 1302px 359px #FFF , 1122px 658px #FFF , 616px 1633px #FFF , 1018px 752px #FFF , 1699px 1661px #FFF , 1709px 1925px #FFF , 1681px 1445px #FFF , 1001px 1707px #FFF , 656px 164px #FFF , 319px 1775px #FFF , 264px 196px #FFF , 539px 534px #FFF , 1989px 773px #FFF , 1318px 319px #FFF , 1081px 1947px #FFF , 1603px 1299px #FFF , 1752px 1690px #FFF , 1422px 197px #FFF , 538px 6px #FFF , 1259px 648px #FFF , 1744px 1393px #FFF , 1760px 1943px #FFF , 1211px 166px #FFF , 655px 472px #FFF , 117px 652px #FFF , 91px 1186px #FFF , 576px 831px #FFF , 1706px 990px #FFF , 31px 756px #FFF , 1322px 307px #FFF , 1246px 1674px #FFF , 621px 868px #FFF , 700px 1191px #FFF , 1786px 1108px #FFF , 511px 1494px #FFF , 204px 348px #FFF , 1404px 593px #FFF , 1187px 1323px #FFF , 207px 1847px #FFF , 1194px 1561px #FFF , 438px 1891px #FFF , 647px 878px #FFF , 684px 1213px #FFF , 551px 1990px #FFF , 813px 197px #FFF , 1389px 964px #FFF , 565px 421px #FFF , 312px 1238px #FFF , 1718px 1007px #FFF , 925px 439px #FFF , 1312px 954px #FFF , 268px 1130px #FFF , 1259px 1885px #FFF , 1900px 1488px #FFF , 475px 1296px #FFF , 555px 718px #FFF , 528px 1035px #FFF , 1737px 51px #FFF , 716px 602px #FFF , 197px 647px #FFF , 47px 271px #FFF , 743px 851px #FFF , 202px 945px #FFF , 1865px 746px #FFF , 867px 1955px #FFF , 1403px 548px #FFF , 1475px 619px #FFF , 73px 1956px #FFF , 681px 1892px #FFF , 201px 1561px #FFF , 941px 1663px #FFF , 1636px 304px #FFF , 1832px 138px #FFF , 706px 1983px #FFF , 1661px 1873px #FFF , 986px 204px #FFF , 1254px 635px #FFF , 1045px 1584px #FFF , 103px 1746px #FFF , 1848px 6px #FFF , 1290px 993px #FFF , 802px 700px #FFF , 1888px 1978px #FFF , 75px 1050px #FFF , 172px 908px #FFF , 988px 599px #FFF , 285px 1191px #FFF , 1349px 1321px #FFF , 1774px 963px #FFF , 1403px 199px #FFF , 590px 1219px #FFF , 1576px 1698px #FFF , 871px 1331px #FFF , 1378px 1204px #FFF , 560px 53px #FFF , 1908px 1549px #FFF , 1720px 329px #FFF , 606px 1261px #FFF , 1224px 72px #FFF , 755px 266px #FFF , 1417px 744px #FFF , 664px 761px #FFF , 1320px 1978px #FFF , 1129px 1347px #FFF , 404px 402px #FFF , 680px 150px #FFF , 460px 1048px #FFF , 1041px 1457px #FFF , 1229px 1754px #FFF , 1629px 650px #FFF , 851px 28px #FFF , 1513px 1223px #FFF , 1615px 1061px #FFF , 1182px 1537px #FFF , 1341px 1663px #FFF , 1305px 80px #FFF , 650px 28px #FFF , 961px 1820px #FFF , 93px 1915px #FFF , 88px 548px #FFF , 1465px 803px #FFF , 1483px 9px #FFF , 1662px 981px #FFF , 1665px 971px #FFF , 948px 619px #FFF , 1155px 479px #FFF , 475px 178px #FFF , 739px 801px #FFF , 34px 432px #FFF , 828px 438px #FFF , 458px 1425px #FFF , 23px 1674px #FFF , 252px 267px #FFF , 774px 1181px #FFF , 1999px 1212px #FFF , 1914px 1574px #FFF , 508px 1405px #FFF , 600px 197px #FFF , 22px 1095px #FFF , 472px 359px #FFF , 731px 569px #FFF , 880px 320px #FFF , 459px 463px #FFF , 716px 1719px #FFF , 355px 965px #FFF , 668px 1014px #FFF , 1587px 354px #FFF , 757px 926px #FFF , 1178px 1834px #FFF , 1063px 212px #FFF , 1596px 1875px #FFF , 1239px 1909px #FFF , 213px 537px #FFF , 1272px 1379px #FFF , 1050px 1676px #FFF , 565px 97px #FFF , 126px 769px #FFF , 1248px 666px #FFF , 644px 1417px #FFF , 1266px 1036px #FFF , 1861px 1992px #FFF , 737px 416px #FFF , 220px 197px #FFF , 853px 1553px #FFF , 438px 484px #FFF , 1013px 1241px #FFF , 877px 59px #FFF , 606px 1406px #FFF , 1343px 1233px #FFF , 576px 1324px #FFF , 788px 1861px #FFF , 1310px 1306px #FFF , 1388px 184px #FFF , 966px 1041px #FFF , 278px 1618px #FFF , 1719px 1553px #FFF , 1661px 1597px #FFF , 388px 1734px #FFF , 1111px 214px #FFF , 78px 840px #FFF , 89px 343px #FFF , 764px 1217px #FFF , 685px 423px #FFF , 72px 1173px #FFF , 495px 10px #FFF , 1544px 27px #FFF , 509px 1020px #FFF , 1110px 1857px #FFF , 1122px 556px #FFF , 30px 875px #FFF , 508px 320px #FFF , 338px 831px #FFF , 1038px 290px #FFF , 1523px 609px #FFF , 1182px 193px #FFF , 1238px 912px #FFF , 728px 852px #FFF , 1371px 1931px #FFF , 1992px 913px #FFF , 1680px 1231px #FFF , 633px 1826px #FFF , 466px 33px #FFF , 1888px 392px #FFF , 609px 209px #FFF , 105px 940px #FFF , 821px 1786px #FFF , 1427px 839px #FFF , 100px 55px #FFF , 190px 86px #FFF , 5px 819px #FFF , 1162px 525px #FFF , 1458px 1040px #FFF , 1062px 122px #FFF , 1301px 1532px #FFF , 799px 745px #FFF , 208px 798px #FFF , 162px 828px #FFF , 569px 980px #FFF , 47px 933px #FFF , 1603px 1600px #FFF , 1512px 1330px #FFF , 1365px 795px #FFF , 499px 1980px #FFF , 464px 1224px #FFF , 1220px 917px #FFF , 1527px 1818px #FFF , 1234px 1193px #FFF , 1854px 527px #FFF , 1722px 8px #FFF , 236px 1404px #FFF , 1389px 1648px #FFF , 1536px 1587px #FFF , 1340px 4px #FFF , 841px 1840px #FFF , 237px 172px #FFF , 1096px 129px #FFF , 647px 1415px #FFF , 1236px 1511px #FFF , 1646px 63px #FFF , 967px 280px #FFF , 1394px 269px #FFF , 1180px 1145px #FFF , 1121px 652px #FFF , 1576px 337px #FFF , 133px 1220px #FFF , 1490px 92px #FFF , 1779px 1851px #FFF , 241px 1848px #FFF , 286px 1479px #FFF , 1037px 1494px #FFF , 1978px 815px #FFF , 556px 766px #FFF , 1307px 1168px #FFF , 1938px 1660px #FFF , 1351px 1994px #FFF , 284px 1608px #FFF , 576px 1777px #FFF , 100px 1859px #FFF , 1987px 212px #FFF , 769px 1861px #FFF , 130px 389px #FFF , 583px 570px #FFF , 1106px 462px #FFF , 8px 1639px #FFF , 1071px 831px #FFF , 1874px 906px #FFF , 1049px 282px #FFF , 1661px 1944px #FFF , 1618px 1342px #FFF , 1658px 296px #FFF , 1862px 558px #FFF , 860px 331px #FFF , 535px 1656px #FFF , 180px 1538px #FFF , 1021px 1979px #FFF , 426px 816px #FFF , 1427px 1437px #FFF , 1440px 426px #FFF , 1417px 140px #FFF , 1080px 686px #FFF , 944px 696px #FFF , 655px 1108px #FFF , 1563px 1529px #FFF , 1469px 1737px #FFF , 299px 647px #FFF , 1423px 732px #FFF , 1363px 1642px #FFF , 218px 396px #FFF , 229px 1666px #FFF , 1788px 1080px #FFF , 906px 1121px #FFF , 472px 1986px #FFF , 1417px 328px #FFF , 1092px 1111px #FFF , 484px 812px #FFF , 1337px 733px #FFF , 950px 1912px #FFF , 133px 1313px #FFF , 461px 625px #FFF , 1074px 1525px #FFF , 1121px 1150px #FFF , 815px 1318px #FFF , 1134px 1799px #FFF , 630px 1914px #FFF , 1468px 131px #FFF , 220px 1188px #FFF , 52px 10px #FFF , 1836px 358px #FFF , 168px 1230px #FFF , 43px 818px #FFF , 856px 1274px #FFF , 1836px 792px #FFF , 1001px 1752px #FFF , 929px 921px #FFF , 1989px 1641px #FFF , 1965px 669px #FFF , 1614px 934px #FFF , 325px 558px #FFF , 1932px 13px #FFF , 88px 1421px #FFF , 42px 511px #FFF , 1532px 172px #FFF , 193px 1885px #FFF , 778px 839px #FFF , 1331px 1357px #FFF , 661px 935px #FFF , 1837px 535px #FFF , 485px 781px #FFF , 516px 1589px #FFF , 83px 158px #FFF , 1586px 131px #FFF , 1901px 1852px #FFF , 1294px 1404px #FFF , 801px 104px #FFF , 1241px 1518px #FFF , 1331px 141px #FFF , 1949px 1596px #FFF , 1831px 1243px #FFF , 1153px 956px #FFF , 1772px 1981px #FFF , 670px 1659px #FFF , 220px 29px #FFF , 1095px 1289px #FFF , 95px 1074px #FFF , 1711px 387px #FFF , 525px 333px #FFF , 1625px 1104px #FFF , 227px 267px #FFF , 1201px 1452px #FFF , 1053px 394px #FFF , 10px 385px #FFF , 1811px 720px #FFF , 340px 975px #FFF , 221px 455px #FFF , 681px 1639px #FFF , 551px 1698px #FFF , 771px 1657px #FFF , 1989px 1814px #FFF , 5px 951px #FFF , 162px 75px #FFF , 1949px 1433px #FFF , 1828px 1692px #FFF , 894px 1476px #FFF , 845px 1928px #FFF , 1135px 134px #FFF , 694px 443px #FFF , 464px 898px #FFF , 547px 368px #FFF , 96px 1486px #FFF , 19px 1239px #FFF , 1433px 522px #FFF , 975px 589px #FFF , 52px 1180px #FFF , 1047px 608px #FFF , 870px 153px #FFF , 1038px 1293px #FFF , 580px 635px #FFF , 250px 1590px #FFF , 247px 1295px #FFF , 1778px 376px #FFF , 1489px 1192px #FFF , 191px 1006px #FFF , 1436px 38px #FFF , 235px 1224px #FFF , 847px 1289px #FFF , 1397px 896px #FFF , 1658px 898px #FFF , 201px 1632px #FFF , 198px 1946px #FFF , 1718px 1456px #FFF , 70px 1552px #FFF , 257px 949px #FFF , 692px 1067px #FFF , 692px 540px #FFF , 1293px 1387px #FFF , 1091px 1777px #FFF , 939px 22px #FFF , 672px 1844px #FFF , 1858px 1009px #FFF , 512px 725px #FFF , 234px 176px #FFF , 153px 403px #FFF , 1986px 705px #FFF , 574px 938px #FFF , 1548px 1014px #FFF , 842px 1374px #FFF , 781px 845px #FFF , 834px 1566px #FFF , 643px 1973px #FFF , 1681px 975px #FFF , 1373px 1757px #FFF , 226px 954px #FFF , 118px 1413px #FFF , 432px 848px #FFF , 344px 1432px #FFF , 1781px 572px #FFF , 580px 766px #FFF , 1270px 1301px #FFF , 100px 881px #FFF , 1965px 1776px #FFF , 520px 90px #FFF , 1460px 765px #FFF , 837px 570px #FFF , 1521px 371px #FFF , 363px 731px #FFF , 1965px 366px #FFF , 1977px 1547px #FFF , 827px 370px #FFF , 7px 423px #FFF , 1688px 1322px #FFF , 685px 1987px #FFF , 1031px 650px #FFF , 1459px 629px #FFF , 655px 558px #FFF , 1427px 966px #FFF , 1343px 859px #FFF , 1195px 761px #FFF , 1666px 1218px #FFF , 974px 1523px #FFF , 670px 1659px #FFF , 189px 882px #FFF , 3px 202px #FFF , 787px 1188px #FFF , 205px 259px #FFF , 1358px 1274px #FFF , 1056px 192px #FFF , 985px 1722px #FFF , 1788px 551px #FFF , 621px 1643px #FFF , 778px 608px #FFF , 1261px 864px #FFF , 897px 1360px #FFF , 859px 485px #FFF , 494px 241px #FFF , 876px 288px #FFF , 1497px 907px #FFF , 1453px 168px #FFF , 1378px 1844px #FFF , 1750px 1608px #FFF;
    animation: animStar 50s linear infinite;
  }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 783px 8848px #FFF , 983px 655px #FFF , 1772px 455px #FFF , 218px 1566px #FFF , 1325px 484px #FFF , 1251px 1845px #FFF , 581px 284px #FFF , 837px 1184px #FFF , 387px 224px #FFF , 1384px 1958px #FFF , 446px 286px #FFF , 1909px 109px #FFF , 157px 413px #FFF , 1151px 1744px #FFF , 367px 1601px #FFF , 1060px 1721px #FFF , 762px 1944px #FFF , 486px 1012px #FFF , 715px 1692px #FFF , 738px 1797px #FFF , 397px 237px #FFF , 1384px 1477px #FFF , 865px 305px #FFF , 802px 1385px #FFF , 9px 35px #FFF , 891px 1940px #FFF , 867px 617px #FFF , 324px 1214px #FFF , 1967px 1212px #FFF , 543px 23px #FFF , 790px 1387px #FFF , 98px 335px #FFF , 854px 1215px #FFF , 133px 854px #FFF , 793px 1534px #FFF , 1802px 1076px #FFF , 206px 313px #FFF , 240px 1768px #FFF , 1102px 1618px #FFF , 1521px 1766px #FFF , 1162px 710px #FFF , 1406px 1698px #FFF , 845px 309px #FFF , 1366px 1056px #FFF , 146px 1834px #FFF , 447px 10px #FFF , 748px 682px #FFF , 442px 267px #FFF , 1282px 1133px #FFF , 1096px 1700px #FFF , 1119px 405px #FFF , 1448px 1466px #FFF , 1822px 671px #FFF , 1201px 1925px #FFF , 236px 428px #FFF , 186px 1540px #FFF , 1645px 1901px #FFF , 1151px 690px #FFF , 829px 290px #FFF , 438px 1221px #FFF , 397px 963px #FFF , 1373px 1194px #FFF , 46px 1992px #FFF , 460px 1448px #FFF , 1039px 1464px #FFF , 442px 226px #FFF , 1214px 916px #FFF , 1006px 63px #FFF , 1434px 737px #FFF , 1220px 1494px #FFF , 508px 1865px #FFF , 306px 1770px #FFF , 1585px 197px #FFF , 594px 1640px #FFF , 1073px 574px #FFF , 1307px 1328px #FFF , 162px 1886px #FFF , 1176px 777px #FFF , 1514px 1712px #FFF , 1672px 1035px #FFF , 442px 860px #FFF , 261px 1324px #FFF , 1833px 355px #FFF , 745px 3px #FFF , 204px 920px #FFF , 1462px 514px #FFF , 1912px 916px #FFF , 639px 1591px #FFF , 1103px 1148px #FFF , 1953px 728px #FFF , 1478px 1637px #FFF , 52px 1369px #FFF , 1421px 21px #FFF , 1700px 1880px #FFF , 800px 1253px #FFF , 277px 243px #FFF , 1177px 448px #FFF , 932px 811px #FFF , 927px 77px #FFF , 151px 153px #FFF , 970px 1903px #FFF , 560px 454px #FFF , 1463px 260px #FFF , 351px 1711px #FFF , 1896px 20px #FFF , 1655px 1178px #FFF , 306px 329px #FFF , 1512px 650px #FFF , 1129px 1164px #FFF , 977px 389px #FFF , 847px 1453px #FFF , 33px 636px #FFF , 1665px 253px #FFF , 216px 530px #FFF , 293px 1887px #FFF , 451px 442px #FFF , 405px 381px #FFF , 530px 131px #FFF , 670px 672px #FFF , 1847px 1767px #FFF , 1285px 1351px #FFF , 83px 1081px #FFF , 1808px 477px #FFF , 473px 1237px #FFF , 1769px 1315px #FFF , 168px 758px #FFF , 721px 1486px #FFF , 334px 192px #FFF , 1873px 826px #FFF , 1761px 1192px #FFF , 440px 944px #FFF , 1886px 1424px #FFF , 1649px 1426px #FFF , 1753px 1996px #FFF , 1159px 830px #FFF , 1341px 1026px #FFF , 1441px 1162px #FFF , 566px 1378px #FFF , 919px 1715px #FFF , 1201px 1733px #FFF , 503px 658px #FFF , 799px 1736px #FFF , 1101px 813px #FFF , 1707px 44px #FFF , 1753px 874px #FFF , 1189px 1521px #FFF , 1496px 170px #FFF , 321px 1677px #FFF , 898px 1657px #FFF , 1075px 812px #FFF , 1106px 608px #FFF , 1971px 827px #FFF , 1202px 1210px #FFF , 1333px 1616px #FFF , 960px 766px #FFF , 1110px 1369px #FFF , 1854px 1453px #FFF , 1582px 1432px #FFF , 1596px 1959px #FFF , 1632px 512px #FFF , 1471px 103px #FFF , 1797px 904px #FFF , 318px 1234px #FFF , 210px 1911px #FFF , 1228px 318px #FFF , 11px 1769px #FFF , 428px 1293px #FFF , 1408px 119px #FFF , 38px 104px #FFF , 903px 1374px #FFF , 589px 1328px #FFF , 1642px 1849px #FFF , 89px 1245px #FFF , 571px 1818px #FFF , 1254px 421px #FFF , 1018px 129px #FFF , 742px 1429px #FFF , 91px 294px #FFF , 1332px 1090px #FFF , 798px 865px #FFF , 850px 21px #FFF , 1627px 944px #FFF , 1039px 725px #FFF , 285px 1209px #FFF , 658px 384px #FFF , 680px 981px #FFF , 328px 1044px #FFF , 295px 53px #FFF , 922px 427px #FFF , 1405px 1266px #FFF , 523px 43px #FFF , 1723px 632px #FFF , 911px 1479px #FFF , 1851px 285px #FFF , 633px 1488px #FFF , 1850px 465px #FFF , 83px 998px #FFF , 726px 1849px #FFF , 360px 431px #FFF , 608px 1101px #FFF , 1003px 1138px #FFF , 1234px 779px #FFF , 503px 833px #FFF , 1450px 1073px #FFF , 59px 483px #FFF , 1341px 975px #FFF , 295px 5px #FFF , 1422px 1664px #FFF , 859px 1873px #FFF , 538px 1596px #FFF , 85px 693px #FFF , 1166px 208px #FFF , 1092px 1790px #FFF , 437px 1071px #FFF , 1955px 1736px #FFF , 380px 1429px #FFF , 1467px 150px #FFF , 695px 1626px #FFF , 1324px 1126px #FFF , 992px 1640px #FFF , 391px 1156px #FFF , 392px 1993px #FFF , 210px 132px #FFF , 324px 1527px #FFF , 1370px 1965px #FFF , 909px 1277px #FFF , 257px 57px #FFF , 446px 1612px #FFF , 1707px 1939px #FFF , 1377px 1380px #FFF , 264px 502px #FFF , 861px 309px #FFF , 1084px 316px #FFF , 92px 1660px #FFF , 1620px 1031px #FFF , 1061px 1894px #FFF , 487px 1303px #FFF , 100px 456px #FFF , 169px 802px #FFF , 290px 1px #FFF , 1345px 1319px #FFF , 1302px 359px #FFF , 1122px 658px #FFF , 616px 1633px #FFF , 1018px 752px #FFF , 1699px 1661px #FFF , 1709px 1925px #FFF , 1681px 1445px #FFF , 1001px 1707px #FFF , 656px 164px #FFF , 319px 1775px #FFF , 264px 196px #FFF , 539px 534px #FFF , 1989px 773px #FFF , 1318px 319px #FFF , 1081px 1947px #FFF , 1603px 1299px #FFF , 1752px 1690px #FFF , 1422px 197px #FFF , 538px 6px #FFF , 1259px 648px #FFF , 1744px 1393px #FFF , 1760px 1943px #FFF , 1211px 166px #FFF , 655px 472px #FFF , 117px 652px #FFF , 91px 1186px #FFF , 576px 831px #FFF , 1706px 990px #FFF , 31px 756px #FFF , 1322px 307px #FFF , 1246px 1674px #FFF , 621px 868px #FFF , 700px 1191px #FFF , 1786px 1108px #FFF , 511px 1494px #FFF , 204px 348px #FFF , 1404px 593px #FFF , 1187px 1323px #FFF , 207px 1847px #FFF , 1194px 1561px #FFF , 438px 1891px #FFF , 647px 878px #FFF , 684px 1213px #FFF , 551px 1990px #FFF , 813px 197px #FFF , 1389px 964px #FFF , 565px 421px #FFF , 312px 1238px #FFF , 1718px 1007px #FFF , 925px 439px #FFF , 1312px 954px #FFF , 268px 1130px #FFF , 1259px 1885px #FFF , 1900px 1488px #FFF , 475px 1296px #FFF , 555px 718px #FFF , 528px 1035px #FFF , 1737px 51px #FFF , 716px 602px #FFF , 197px 647px #FFF , 47px 271px #FFF , 743px 851px #FFF , 202px 945px #FFF , 1865px 746px #FFF , 867px 1955px #FFF , 1403px 548px #FFF , 1475px 619px #FFF , 73px 1956px #FFF , 681px 1892px #FFF , 201px 1561px #FFF , 941px 1663px #FFF , 1636px 304px #FFF , 1832px 138px #FFF , 706px 1983px #FFF , 1661px 1873px #FFF , 986px 204px #FFF , 1254px 635px #FFF , 1045px 1584px #FFF , 103px 1746px #FFF , 1848px 6px #FFF , 1290px 993px #FFF , 802px 700px #FFF , 1888px 1978px #FFF , 75px 1050px #FFF , 172px 908px #FFF , 988px 599px #FFF , 285px 1191px #FFF , 1349px 1321px #FFF , 1774px 963px #FFF , 1403px 199px #FFF , 590px 1219px #FFF , 1576px 1698px #FFF , 871px 1331px #FFF , 1378px 1204px #FFF , 560px 53px #FFF , 1908px 1549px #FFF , 1720px 329px #FFF , 606px 1261px #FFF , 1224px 72px #FFF , 755px 266px #FFF , 1417px 744px #FFF , 664px 761px #FFF , 1320px 1978px #FFF , 1129px 1347px #FFF , 404px 402px #FFF , 680px 150px #FFF , 460px 1048px #FFF , 1041px 1457px #FFF , 1229px 1754px #FFF , 1629px 650px #FFF , 851px 28px #FFF , 1513px 1223px #FFF , 1615px 1061px #FFF , 1182px 1537px #FFF , 1341px 1663px #FFF , 1305px 80px #FFF , 650px 28px #FFF , 961px 1820px #FFF , 93px 1915px #FFF , 88px 548px #FFF , 1465px 803px #FFF , 1483px 9px #FFF , 1662px 981px #FFF , 1665px 971px #FFF , 948px 619px #FFF , 1155px 479px #FFF , 475px 178px #FFF , 739px 801px #FFF , 34px 432px #FFF , 828px 438px #FFF , 458px 1425px #FFF , 23px 1674px #FFF , 252px 267px #FFF , 774px 1181px #FFF , 1999px 1212px #FFF , 1914px 1574px #FFF , 508px 1405px #FFF , 600px 197px #FFF , 22px 1095px #FFF , 472px 359px #FFF , 731px 569px #FFF , 880px 320px #FFF , 459px 463px #FFF , 716px 1719px #FFF , 355px 965px #FFF , 668px 1014px #FFF , 1587px 354px #FFF , 757px 926px #FFF , 1178px 1834px #FFF , 1063px 212px #FFF , 1596px 1875px #FFF , 1239px 1909px #FFF , 213px 537px #FFF , 1272px 1379px #FFF , 1050px 1676px #FFF , 565px 97px #FFF , 126px 769px #FFF , 1248px 666px #FFF , 644px 1417px #FFF , 1266px 1036px #FFF , 1861px 1992px #FFF , 737px 416px #FFF , 220px 197px #FFF , 853px 1553px #FFF , 438px 484px #FFF , 1013px 1241px #FFF , 877px 59px #FFF , 606px 1406px #FFF , 1343px 1233px #FFF , 576px 1324px #FFF , 788px 1861px #FFF , 1310px 1306px #FFF , 1388px 184px #FFF , 966px 1041px #FFF , 278px 1618px #FFF , 1719px 1553px #FFF , 1661px 1597px #FFF , 388px 1734px #FFF , 1111px 214px #FFF , 78px 840px #FFF , 89px 343px #FFF , 764px 1217px #FFF , 685px 423px #FFF , 72px 1173px #FFF , 495px 10px #FFF , 1544px 27px #FFF , 509px 1020px #FFF , 1110px 1857px #FFF , 1122px 556px #FFF , 30px 875px #FFF , 508px 320px #FFF , 338px 831px #FFF , 1038px 290px #FFF , 1523px 609px #FFF , 1182px 193px #FFF , 1238px 912px #FFF , 728px 852px #FFF , 1371px 1931px #FFF , 1992px 913px #FFF , 1680px 1231px #FFF , 633px 1826px #FFF , 466px 33px #FFF , 1888px 392px #FFF , 609px 209px #FFF , 105px 940px #FFF , 821px 1786px #FFF , 1427px 839px #FFF , 100px 55px #FFF , 190px 86px #FFF , 5px 819px #FFF , 1162px 525px #FFF , 1458px 1040px #FFF , 1062px 122px #FFF , 1301px 1532px #FFF , 799px 745px #FFF , 208px 798px #FFF , 162px 828px #FFF , 569px 980px #FFF , 47px 933px #FFF , 1603px 1600px #FFF , 1512px 1330px #FFF , 1365px 795px #FFF , 499px 1980px #FFF , 464px 1224px #FFF , 1220px 917px #FFF , 1527px 1818px #FFF , 1234px 1193px #FFF , 1854px 527px #FFF , 1722px 8px #FFF , 236px 1404px #FFF , 1389px 1648px #FFF , 1536px 1587px #FFF , 1340px 4px #FFF , 841px 1840px #FFF , 237px 172px #FFF , 1096px 129px #FFF , 647px 1415px #FFF , 1236px 1511px #FFF , 1646px 63px #FFF , 967px 280px #FFF , 1394px 269px #FFF , 1180px 1145px #FFF , 1121px 652px #FFF , 1576px 337px #FFF , 133px 1220px #FFF , 1490px 92px #FFF , 1779px 1851px #FFF , 241px 1848px #FFF , 286px 1479px #FFF , 1037px 1494px #FFF , 1978px 815px #FFF , 556px 766px #FFF , 1307px 1168px #FFF , 1938px 1660px #FFF , 1351px 1994px #FFF , 284px 1608px #FFF , 576px 1777px #FFF , 100px 1859px #FFF , 1987px 212px #FFF , 769px 1861px #FFF , 130px 389px #FFF , 583px 570px #FFF , 1106px 462px #FFF , 8px 1639px #FFF , 1071px 831px #FFF , 1874px 906px #FFF , 1049px 282px #FFF , 1661px 1944px #FFF , 1618px 1342px #FFF , 1658px 296px #FFF , 1862px 558px #FFF , 860px 331px #FFF , 535px 1656px #FFF , 180px 1538px #FFF , 1021px 1979px #FFF , 426px 816px #FFF , 1427px 1437px #FFF , 1440px 426px #FFF , 1417px 140px #FFF , 1080px 686px #FFF , 944px 696px #FFF , 655px 1108px #FFF , 1563px 1529px #FFF , 1469px 1737px #FFF , 299px 647px #FFF , 1423px 732px #FFF , 1363px 1642px #FFF , 218px 396px #FFF , 229px 1666px #FFF , 1788px 1080px #FFF , 906px 1121px #FFF , 472px 1986px #FFF , 1417px 328px #FFF , 1092px 1111px #FFF , 484px 812px #FFF , 1337px 733px #FFF , 950px 1912px #FFF , 133px 1313px #FFF , 461px 625px #FFF , 1074px 1525px #FFF , 1121px 1150px #FFF , 815px 1318px #FFF , 1134px 1799px #FFF , 630px 1914px #FFF , 1468px 131px #FFF , 220px 1188px #FFF , 52px 10px #FFF , 1836px 358px #FFF , 168px 1230px #FFF , 43px 818px #FFF , 856px 1274px #FFF , 1836px 792px #FFF , 1001px 1752px #FFF , 929px 921px #FFF , 1989px 1641px #FFF , 1965px 669px #FFF , 1614px 934px #FFF , 325px 558px #FFF , 1932px 13px #FFF , 88px 1421px #FFF , 42px 511px #FFF , 1532px 172px #FFF , 193px 1885px #FFF , 778px 839px #FFF , 1331px 1357px #FFF , 661px 935px #FFF , 1837px 535px #FFF , 485px 781px #FFF , 516px 1589px #FFF , 83px 158px #FFF , 1586px 131px #FFF , 1901px 1852px #FFF , 1294px 1404px #FFF , 801px 104px #FFF , 1241px 1518px #FFF , 1331px 141px #FFF , 1949px 1596px #FFF , 1831px 1243px #FFF , 1153px 956px #FFF , 1772px 1981px #FFF , 670px 1659px #FFF , 220px 29px #FFF , 1095px 1289px #FFF , 95px 1074px #FFF , 1711px 387px #FFF , 525px 333px #FFF , 1625px 1104px #FFF , 227px 267px #FFF , 1201px 1452px #FFF , 1053px 394px #FFF , 10px 385px #FFF , 1811px 720px #FFF , 340px 975px #FFF , 221px 455px #FFF , 681px 1639px #FFF , 551px 1698px #FFF , 771px 1657px #FFF , 1989px 1814px #FFF , 5px 951px #FFF , 162px 75px #FFF , 1949px 1433px #FFF , 1828px 1692px #FFF , 894px 1476px #FFF , 845px 1928px #FFF , 1135px 134px #FFF , 694px 443px #FFF , 464px 898px #FFF , 547px 368px #FFF , 96px 1486px #FFF , 19px 1239px #FFF , 1433px 522px #FFF , 975px 589px #FFF , 52px 1180px #FFF , 1047px 608px #FFF , 870px 153px #FFF , 1038px 1293px #FFF , 580px 635px #FFF , 250px 1590px #FFF , 247px 1295px #FFF , 1778px 376px #FFF , 1489px 1192px #FFF , 191px 1006px #FFF , 1436px 38px #FFF , 235px 1224px #FFF , 847px 1289px #FFF , 1397px 896px #FFF , 1658px 898px #FFF , 201px 1632px #FFF , 198px 1946px #FFF , 1718px 1456px #FFF , 70px 1552px #FFF , 257px 949px #FFF , 692px 1067px #FFF , 692px 540px #FFF , 1293px 1387px #FFF , 1091px 1777px #FFF , 939px 22px #FFF , 672px 1844px #FFF , 1858px 1009px #FFF , 512px 725px #FFF , 234px 176px #FFF , 153px 403px #FFF , 1986px 705px #FFF , 574px 938px #FFF , 1548px 1014px #FFF , 842px 1374px #FFF , 781px 845px #FFF , 834px 1566px #FFF , 643px 1973px #FFF , 1681px 975px #FFF , 1373px 1757px #FFF , 226px 954px #FFF , 118px 1413px #FFF , 432px 848px #FFF , 344px 1432px #FFF , 1781px 572px #FFF , 580px 766px #FFF , 1270px 1301px #FFF , 100px 881px #FFF , 1965px 1776px #FFF , 520px 90px #FFF , 1460px 765px #FFF , 837px 570px #FFF , 1521px 371px #FFF , 363px 731px #FFF , 1965px 366px #FFF , 1977px 1547px #FFF , 827px 370px #FFF , 7px 423px #FFF , 1688px 1322px #FFF , 685px 1987px #FFF , 1031px 650px #FFF , 1459px 629px #FFF , 655px 558px #FFF , 1427px 966px #FFF , 1343px 859px #FFF , 1195px 761px #FFF , 1666px 1218px #FFF , 974px 1523px #FFF , 670px 1659px #FFF , 189px 882px #FFF , 3px 202px #FFF , 787px 1188px #FFF , 205px 259px #FFF , 1358px 1274px #FFF , 1056px 192px #FFF , 985px 1722px #FFF , 1788px 551px #FFF , 621px 1643px #FFF , 778px 608px #FFF , 1261px 864px #FFF , 897px 1360px #FFF , 859px 485px #FFF , 494px 241px #FFF , 876px 288px #FFF , 1497px 907px #FFF , 1453px 168px #FFF , 1378px 1844px #FFF , 1750px 1608px #FFF;
  }
  
  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1857px 7191px #FFF , 34px 612px #FFF , 1264px 805px #FFF , 1988px 2px #FFF , 187px 1090px #FFF , 1669px 793px #FFF , 126px 181px #FFF , 1809px 1481px #FFF , 1687px 576px #FFF , 908px 1885px #FFF , 1380px 327px #FFF , 1435px 231px #FFF , 1220px 1913px #FFF , 715px 1059px #FFF , 347px 1210px #FFF , 1719px 1591px #FFF , 608px 488px #FFF , 407px 1465px #FFF , 111px 687px #FFF , 1646px 1006px #FFF , 641px 1740px #FFF , 575px 1159px #FFF , 257px 1108px #FFF , 1439px 1750px #FFF , 1593px 221px #FFF , 1768px 1477px #FFF , 1606px 1280px #FFF , 1186px 1519px #FFF , 1802px 1183px #FFF , 796px 672px #FFF , 1734px 1352px #FFF , 830px 1107px #FFF , 1931px 1953px #FFF , 1259px 1887px #FFF , 812px 482px #FFF , 1410px 592px #FFF , 946px 1829px #FFF , 1941px 1812px #FFF , 1613px 313px #FFF , 1661px 925px #FFF , 711px 1692px #FFF , 1023px 271px #FFF , 326px 817px #FFF , 440px 783px #FFF , 1658px 787px #FFF , 1359px 1646px #FFF , 518px 1590px #FFF , 1706px 998px #FFF , 1780px 933px #FFF , 1213px 91px #FFF , 736px 921px #FFF , 161px 1271px #FFF , 553px 1174px #FFF , 1591px 587px #FFF , 1712px 1709px #FFF , 1428px 1312px #FFF , 520px 150px #FFF , 975px 1841px #FFF , 893px 106px #FFF , 835px 72px #FFF , 1266px 20px #FFF , 1575px 1151px #FFF , 1522px 658px #FFF , 1437px 931px #FFF , 1361px 1587px #FFF , 1743px 1844px #FFF , 1252px 1884px #FFF , 1130px 684px #FFF , 1421px 758px #FFF , 1262px 23px #FFF , 919px 161px #FFF , 326px 855px #FFF , 169px 1271px #FFF , 1473px 1281px #FFF , 1514px 1708px #FFF , 312px 1633px #FFF , 1248px 211px #FFF , 1816px 1548px #FFF , 665px 1847px #FFF , 831px 1577px #FFF , 1840px 900px #FFF , 1663px 303px #FFF , 1203px 1722px #FFF , 1588px 983px #FFF , 299px 1699px #FFF , 1986px 1003px #FFF , 716px 800px #FFF , 1176px 581px #FFF , 1303px 1099px #FFF , 517px 1553px #FFF , 883px 44px #FFF , 373px 1274px #FFF , 1892px 205px #FFF , 1897px 1921px #FFF , 762px 324px #FFF , 1950px 1346px #FFF , 579px 100px #FFF , 1813px 847px #FFF , 1358px 628px #FFF , 955px 850px #FFF , 1350px 1638px #FFF , 494px 1223px #FFF , 1467px 1067px #FFF , 497px 880px #FFF , 498px 1509px #FFF , 193px 1318px #FFF , 1353px 1405px #FFF , 945px 171px #FFF , 307px 347px #FFF , 1019px 255px #FFF , 73px 48px #FFF , 211px 1806px #FFF , 1700px 1132px #FFF , 1698px 528px #FFF , 1572px 119px #FFF , 109px 1731px #FFF , 1479px 286px #FFF , 1810px 545px #FFF , 77px 1874px #FFF , 310px 1142px #FFF , 1111px 312px #FFF , 1451px 582px #FFF , 1807px 542px #FFF , 1767px 1179px #FFF , 169px 1954px #FFF , 309px 1393px #FFF , 135px 420px #FFF , 1171px 1557px #FFF , 1812px 1304px #FFF , 5px 1303px #FFF , 363px 757px #FFF , 354px 894px #FFF , 1854px 949px #FFF , 649px 1989px #FFF , 1849px 1782px #FFF , 800px 529px #FFF , 604px 1449px #FFF , 1649px 227px #FFF , 1223px 1088px #FFF , 1853px 1134px #FFF , 137px 1196px #FFF , 566px 1672px #FFF , 595px 1596px #FFF , 792px 775px #FFF , 1881px 1892px #FFF , 139px 151px #FFF , 1866px 1549px #FFF , 728px 722px #FFF , 1036px 1316px #FFF , 1344px 121px #FFF , 325px 948px #FFF , 335px 1392px #FFF , 1870px 1690px #FFF , 1181px 993px #FFF , 563px 96px #FFF , 1492px 462px #FFF , 1593px 1011px #FFF , 31px 1856px #FFF , 914px 442px #FFF , 690px 1683px #FFF , 122px 1205px #FFF , 307px 546px #FFF , 1250px 688px #FFF , 1631px 16px #FFF , 908px 1517px #FFF , 1237px 1087px #FFF , 1950px 1725px #FFF , 1523px 1735px #FFF , 729px 1981px #FFF , 1818px 806px #FFF , 1852px 706px #FFF , 553px 1936px #FFF , 1735px 42px #FFF , 1730px 516px #FFF , 1782px 1868px #FFF , 674px 1583px #FFF , 456px 1644px #FFF , 288px 832px #FFF , 338px 340px #FFF , 53px 887px #FFF , 1477px 1681px #FFF , 1971px 371px #FFF , 521px 1794px #FFF , 333px 534px #FFF , 1643px 462px #FFF , 1778px 1541px #FFF , 41px 39px #FFF , 1050px 1103px #FFF , 11px 1334px #FFF , 1496px 1411px #FFF , 1759px 71px #FFF , 182px 352px #FFF , 681px 1580px #FFF , 1468px 1874px #FFF , 1225px 62px #FFF , 1629px 570px #FFF , 1742px 1587px #FFF , 650px 1863px #FFF , 1554px 1368px #FFF , 1571px 1582px #FFF;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1857px 7191px #FFF , 34px 612px #FFF , 1264px 805px #FFF , 1988px 2px #FFF , 187px 1090px #FFF , 1669px 793px #FFF , 126px 181px #FFF , 1809px 1481px #FFF , 1687px 576px #FFF , 908px 1885px #FFF , 1380px 327px #FFF , 1435px 231px #FFF , 1220px 1913px #FFF , 715px 1059px #FFF , 347px 1210px #FFF , 1719px 1591px #FFF , 608px 488px #FFF , 407px 1465px #FFF , 111px 687px #FFF , 1646px 1006px #FFF , 641px 1740px #FFF , 575px 1159px #FFF , 257px 1108px #FFF , 1439px 1750px #FFF , 1593px 221px #FFF , 1768px 1477px #FFF , 1606px 1280px #FFF , 1186px 1519px #FFF , 1802px 1183px #FFF , 796px 672px #FFF , 1734px 1352px #FFF , 830px 1107px #FFF , 1931px 1953px #FFF , 1259px 1887px #FFF , 812px 482px #FFF , 1410px 592px #FFF , 946px 1829px #FFF , 1941px 1812px #FFF , 1613px 313px #FFF , 1661px 925px #FFF , 711px 1692px #FFF , 1023px 271px #FFF , 326px 817px #FFF , 440px 783px #FFF , 1658px 787px #FFF , 1359px 1646px #FFF , 518px 1590px #FFF , 1706px 998px #FFF , 1780px 933px #FFF , 1213px 91px #FFF , 736px 921px #FFF , 161px 1271px #FFF , 553px 1174px #FFF , 1591px 587px #FFF , 1712px 1709px #FFF , 1428px 1312px #FFF , 520px 150px #FFF , 975px 1841px #FFF , 893px 106px #FFF , 835px 72px #FFF , 1266px 20px #FFF , 1575px 1151px #FFF , 1522px 658px #FFF , 1437px 931px #FFF , 1361px 1587px #FFF , 1743px 1844px #FFF , 1252px 1884px #FFF , 1130px 684px #FFF , 1421px 758px #FFF , 1262px 23px #FFF , 919px 161px #FFF , 326px 855px #FFF , 169px 1271px #FFF , 1473px 1281px #FFF , 1514px 1708px #FFF , 312px 1633px #FFF , 1248px 211px #FFF , 1816px 1548px #FFF , 665px 1847px #FFF , 831px 1577px #FFF , 1840px 900px #FFF , 1663px 303px #FFF , 1203px 1722px #FFF , 1588px 983px #FFF , 299px 1699px #FFF , 1986px 1003px #FFF , 716px 800px #FFF , 1176px 581px #FFF , 1303px 1099px #FFF , 517px 1553px #FFF , 883px 44px #FFF , 373px 1274px #FFF , 1892px 205px #FFF , 1897px 1921px #FFF , 762px 324px #FFF , 1950px 1346px #FFF , 579px 100px #FFF , 1813px 847px #FFF , 1358px 628px #FFF , 955px 850px #FFF , 1350px 1638px #FFF , 494px 1223px #FFF , 1467px 1067px #FFF , 497px 880px #FFF , 498px 1509px #FFF , 193px 1318px #FFF , 1353px 1405px #FFF , 945px 171px #FFF , 307px 347px #FFF , 1019px 255px #FFF , 73px 48px #FFF , 211px 1806px #FFF , 1700px 1132px #FFF , 1698px 528px #FFF , 1572px 119px #FFF , 109px 1731px #FFF , 1479px 286px #FFF , 1810px 545px #FFF , 77px 1874px #FFF , 310px 1142px #FFF , 1111px 312px #FFF , 1451px 582px #FFF , 1807px 542px #FFF , 1767px 1179px #FFF , 169px 1954px #FFF , 309px 1393px #FFF , 135px 420px #FFF , 1171px 1557px #FFF , 1812px 1304px #FFF , 5px 1303px #FFF , 363px 757px #FFF , 354px 894px #FFF , 1854px 949px #FFF , 649px 1989px #FFF , 1849px 1782px #FFF , 800px 529px #FFF , 604px 1449px #FFF , 1649px 227px #FFF , 1223px 1088px #FFF , 1853px 1134px #FFF , 137px 1196px #FFF , 566px 1672px #FFF , 595px 1596px #FFF , 792px 775px #FFF , 1881px 1892px #FFF , 139px 151px #FFF , 1866px 1549px #FFF , 728px 722px #FFF , 1036px 1316px #FFF , 1344px 121px #FFF , 325px 948px #FFF , 335px 1392px #FFF , 1870px 1690px #FFF , 1181px 993px #FFF , 563px 96px #FFF , 1492px 462px #FFF , 1593px 1011px #FFF , 31px 1856px #FFF , 914px 442px #FFF , 690px 1683px #FFF , 122px 1205px #FFF , 307px 546px #FFF , 1250px 688px #FFF , 1631px 16px #FFF , 908px 1517px #FFF , 1237px 1087px #FFF , 1950px 1725px #FFF , 1523px 1735px #FFF , 729px 1981px #FFF , 1818px 806px #FFF , 1852px 706px #FFF , 553px 1936px #FFF , 1735px 42px #FFF , 1730px 516px #FFF , 1782px 1868px #FFF , 674px 1583px #FFF , 456px 1644px #FFF , 288px 832px #FFF , 338px 340px #FFF , 53px 887px #FFF , 1477px 1681px #FFF , 1971px 371px #FFF , 521px 1794px #FFF , 333px 534px #FFF , 1643px 462px #FFF , 1778px 1541px #FFF , 41px 39px #FFF , 1050px 1103px #FFF , 11px 1334px #FFF , 1496px 1411px #FFF , 1759px 71px #FFF , 182px 352px #FFF , 681px 1580px #FFF , 1468px 1874px #FFF , 1225px 62px #FFF , 1629px 570px #FFF , 1742px 1587px #FFF , 650px 1863px #FFF , 1554px 1368px #FFF , 1571px 1582px #FFF;
  }
  
  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1291px 6492px #FFF , 92px 1751px #FFF , 764px 633px #FFF , 900px 1010px #FFF , 1758px 1056px #FFF , 1017px 444px #FFF , 1411px 20px #FFF , 1189px 562px #FFF , 162px 553px #FFF , 54px 410px #FFF , 1086px 1815px #FFF , 1942px 1579px #FFF , 1510px 1024px #FFF , 1320px 1177px #FFF , 289px 379px #FFF , 1735px 220px #FFF , 316px 294px #FFF , 266px 183px #FFF , 1586px 1358px #FFF , 201px 854px #FFF , 422px 1512px #FFF , 684px 1384px #FFF , 462px 407px #FFF , 1935px 1198px #FFF , 1796px 311px #FFF , 888px 113px #FFF , 484px 874px #FFF , 1838px 1937px #FFF , 1973px 268px #FFF , 225px 1218px #FFF , 413px 497px #FFF , 622px 379px #FFF , 1607px 1402px #FFF , 1313px 375px #FFF , 916px 1742px #FFF , 796px 448px #FFF , 181px 1820px #FFF , 379px 27px #FFF , 239px 748px #FFF , 759px 938px #FFF , 829px 1838px #FFF , 751px 537px #FFF , 357px 1741px #FFF , 1715px 653px #FFF , 251px 1571px #FFF , 1668px 1458px #FFF , 1031px 1058px #FFF , 633px 1230px #FFF , 1596px 1513px #FFF , 1382px 1122px #FFF , 1845px 33px #FFF , 1513px 349px #FFF , 43px 1730px #FFF , 219px 1309px #FFF , 968px 1713px #FFF , 90px 1629px #FFF , 1572px 1355px #FFF , 137px 1324px #FFF , 461px 324px #FFF , 1919px 1106px #FFF , 1247px 1520px #FFF , 1650px 898px #FFF , 469px 3px #FFF , 1226px 1940px #FFF , 1883px 924px #FFF , 150px 1531px #FFF , 1178px 1193px #FFF , 1454px 174px #FFF , 375px 1104px #FFF , 1711px 1101px #FFF , 1653px 1052px #FFF , 1253px 896px #FFF , 1938px 6px #FFF , 1506px 269px #FFF , 1054px 223px #FFF , 1371px 883px #FFF , 1942px 1909px #FFF , 1804px 485px #FFF , 1967px 669px #FFF , 1419px 100px #FFF , 252px 1142px #FFF , 1299px 1787px #FFF , 1425px 1274px #FFF , 254px 251px #FFF , 298px 911px #FFF , 979px 394px #FFF , 1246px 180px #FFF , 1113px 966px #FFF , 802px 426px #FFF , 462px 140px #FFF , 1884px 827px #FFF , 546px 339px #FFF , 1052px 521px #FFF , 81px 1517px #FFF , 293px 472px #FFF , 1523px 1519px #FFF , 239px 1892px #FFF , 230px 1087px #FFF , 1094px 1420px #FFF , 1462px 1455px #FFF;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1291px 6492px #FFF , 92px 1751px #FFF , 764px 633px #FFF , 900px 1010px #FFF , 1758px 1056px #FFF , 1017px 444px #FFF , 1411px 20px #FFF , 1189px 562px #FFF , 162px 553px #FFF , 54px 410px #FFF , 1086px 1815px #FFF , 1942px 1579px #FFF , 1510px 1024px #FFF , 1320px 1177px #FFF , 289px 379px #FFF , 1735px 220px #FFF , 316px 294px #FFF , 266px 183px #FFF , 1586px 1358px #FFF , 201px 854px #FFF , 422px 1512px #FFF , 684px 1384px #FFF , 462px 407px #FFF , 1935px 1198px #FFF , 1796px 311px #FFF , 888px 113px #FFF , 484px 874px #FFF , 1838px 1937px #FFF , 1973px 268px #FFF , 225px 1218px #FFF , 413px 497px #FFF , 622px 379px #FFF , 1607px 1402px #FFF , 1313px 375px #FFF , 916px 1742px #FFF , 796px 448px #FFF , 181px 1820px #FFF , 379px 27px #FFF , 239px 748px #FFF , 759px 938px #FFF , 829px 1838px #FFF , 751px 537px #FFF , 357px 1741px #FFF , 1715px 653px #FFF , 251px 1571px #FFF , 1668px 1458px #FFF , 1031px 1058px #FFF , 633px 1230px #FFF , 1596px 1513px #FFF , 1382px 1122px #FFF , 1845px 33px #FFF , 1513px 349px #FFF , 43px 1730px #FFF , 219px 1309px #FFF , 968px 1713px #FFF , 90px 1629px #FFF , 1572px 1355px #FFF , 137px 1324px #FFF , 461px 324px #FFF , 1919px 1106px #FFF , 1247px 1520px #FFF , 1650px 898px #FFF , 469px 3px #FFF , 1226px 1940px #FFF , 1883px 924px #FFF , 150px 1531px #FFF , 1178px 1193px #FFF , 1454px 174px #FFF , 375px 1104px #FFF , 1711px 1101px #FFF , 1653px 1052px #FFF , 1253px 896px #FFF , 1938px 6px #FFF , 1506px 269px #FFF , 1054px 223px #FFF , 1371px 883px #FFF , 1942px 1909px #FFF , 1804px 485px #FFF , 1967px 669px #FFF , 1419px 100px #FFF , 252px 1142px #FFF , 1299px 1787px #FFF , 1425px 1274px #FFF , 254px 251px #FFF , 298px 911px #FFF , 979px 394px #FFF , 1246px 180px #FFF , 1113px 966px #FFF , 802px 426px #FFF , 462px 140px #FFF , 1884px 827px #FFF , 546px 339px #FFF , 1052px 521px #FFF , 81px 1517px #FFF , 293px 472px #FFF , 1523px 1519px #FFF , 239px 1892px #FFF , 230px 1087px #FFF , 1094px 1420px #FFF , 1462px 1455px #FFF;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }